pip install llama-index-llms-openai
pip install llama-index-embeddings-openai
pip install llama-index-finetuning
pip install llama-index-readers-file
pip install llama-index-llms-huggingface
pip install llama-index-embeddings-huggingface